<div class="post-content">
  <%= image_tag "", class: "post-image" %>
  <p class="post-description"><%= @description %></p>
  <% if @tags.present? %>
    <div class="post-tags">
      <% @tags.each do |tag| %>
        <span class="tag">#<%= tag %></span>
      <% end %>
    </div>
  <% end %>
</div>