/* app/assets/stylesheets/components/post/content_component.css */
.post-content {
    margin-bottom: 15px;
}

.post-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.post-description {
    margin-top: 10px;
}

.post-tags {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    background-color: #efefef;
    color: #333;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 5px;
}
