/* Search Page */

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 320px;
}

.search-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}

.search-main-container .search-form {
    width: 80%;
    margin-bottom: 1em;
}

.search-main-container .search-form label {
    color: white;
    text-align: center;
    font-size: 2em;
}

.form-buttons {
    justify-content: center;
    margin: 0;
}

.search-main-container .results-container {
    width: 100%;
}

.search-main-container .results-container #search-results-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    color: white;
    gap: 4em;
}

#communities-result,
#users-result {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.search-main-container .results-container #search-results-container .btn {
    min-width: 100px;
}

.search-main-container .results-container .not-found {
    width: 293px;
    text-align: center;
}

.go-back-to-top {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 88vw;
    top: 90vh;
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-left: 3px;
    transition: all 0.5s;
}

.go-back-to-top:hover {
    color: red;
}

.vl {
    display: none;
    border-right: 1px solid white;
}


.form-buttons {
    display: none;
}
  
/* Mobile */
@media (max-width: 768px) {
    .form-buttons {
        display: flex;
        justify-content: space-around;
        margin-bottom: 1rem;
    }

    #communities-result,
    #users-result {
        display: none;
    }

    #communities-result.visible,
    #users-result.visible {
        display: flex;
        flex-direction: column;
    }

    .results-container .vl {
        display: none;
    }
}
  
/* Desktop */
@media (min-width: 769px) {
    #communities-result,
    #users-result {
        display: flex;
        flex-direction: column;
    }

    .results-container .vl {
        display: block;
        border-left: 1px solid #ccc;
        margin: 0 1rem;
    }
}  