<div class="post-footer">
  <div class="post-actions">
    <p>Like</p>
    <p>Comentar</p>
    <p>Compartilhar</p>
  </div>
  <div class="post-stats">
    <p><%= @likes_count %> curtidas</p>
    <p><%= @comments_count %> comentários</p>
    <p><%= @shares_count %> compartilhamentos</p>
  </div>
</div>