<div class="post-header">
  <%= render Atoms::UserAvatar::UserAvatarComponent.new(avatar_url: @user_avatar) %>
  <div class="post-info">
    <p class="group-name"><%= @group_name %></p>
    <p class="time-posted"><%= @time_posted %></p>
  </div>
</div>